<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
<div class="container mt-5">
    <form th:action="@{/user/content/create}" th:object="${content}" method="post">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div th:if="${param.success}">
                    <div class="alert alert-info" th:text="#{content.created}"></div>
                </div>
                <div th:if="${param.fail}">
                    <div class="alert alert-info" th:text="#{content.invalid}"></div>
                </div>
                <div class="form-group">
                    <h1 th:text="#{content.creation.sign}"></h1>
                    <label for="header"  th:text="#{content.header}"></label>
                    <input type="text" class="form-control" id="header" name="header" aria-describedby="headerHelp">
                </div>
                <div class="md-form">
                    <label for="text"  th:text="#{content.text}"></label>
                    <textarea class="md-textarea form-control" rows="3" id="text" name="text"></textarea>
                </div>
                <div class="mr-auto mt-5">
                    <input type="submit" class="btn btn-primary" th:value="#{content.create.action}"/>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
</div>
</body>

</html>