<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
<div class="container mt-5">
    <form th:action="@{/user/personal/info}" th:object="${info}" method="post">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div th:if="${param.success}">
                    <div class="alert alert-info" th:text="#{info.success}"></div>
                </div>
                <div th:if="${param.fail}">
                    <div class="alert alert-info" th:text="#{info.fail}">Congrats</div>
                </div>
                <h1 th:text="#{base.info.change}"></h1>
                <div class="form-group">
                    <label for="email" th:text="#{base.email}"></label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="firstName" th:text="#{base.first.name}"></label>
                    <input type="text" class="form-control" id="firstName" name="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{base.last.name}"></label>
                    <input type="text" class="form-control" id="lastName" name="lastName">
                </div>
                <div class="form-group">
                    <label for="oldPassword" th:text="#{base.old.password}"></label>
                    <input type="text" class="form-control" id="oldPassword" name="oldPassword">
                </div>
                <div class="form-group">
                    <label for="newPassword" th:text="#{base.new.password}"></label>
                    <input type="text" class="form-control" id="newPassword" name="newPassword">
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword" th:text="#{base.confirm.new.password}"></label>
                    <input type="text" class="form-control" id="confirmNewPassword" name="confirmNewPassword">
                </div>
                <div class="mr-auto">
                    <input type="submit" class="btn btn-primary" th:value="#{base.change}"/>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
</div>
</body>

</html>